# tmuxp uses strict requirement versioning so it comes first
tmuxp>=1.5.0,<2

celery<4.2.0
click>=7.0,<8
emport>=1.2.0
gossip
Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-Loopback
Jinja2
gossip
gunicorn
IPython
Logbook
mitba
psycopg2
PyYAML>5.1
pytest
redis
sentinels
virtualenv
yaspin
